/*Estilos generales*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #0066ff;
  --secondary-color: #212529;
}

body {
  height: 100vh;
  width: 100%;
}

/*Primera barra de navegación*/
header {
  height: 15vh;
}
#first-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  background-color: var(--secondary-color);
  padding: 5px 130px;
}

#first-nav > span {
  color: white;
  font-size: 14px;
  justify-content: start;
}
.listas {
  display: flex;
  align-items: center;
  gap: 10px;
}

.listas ul {
  display: flex;
  gap: 10px;
  list-style-type: none;

  margin: 0;
}

.listas img {
  height: 12px;
  width: 12px;
}

/*Segunda barra de navegación*/

#second-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

#second-nav img {
  width: 100px;
  height: auto;
}

#second-nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
  text-transform: uppercase;
  color: var(--primary-color);
  font-weight: 600;
}

#second-nav ul li:hover {
  color: #212529;
  text-decoration: line-through;
}

/*MAIN*/

main {
  background-color: #e7e7e7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

/*Hero*/

section.hero {
  background-image: url("/assets/AdobeStock_432482157.jpeg");
  height: 70%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  padding: 40px;
}

h1 {
  color: white;
  font-size: 50px;
  line-height: 24px;
}

section.hero p {
  color: white;
  font-size: 30px;
  line-height: 38px;
}

button {
  color: white;
  font-size: 15px;
  padding: 15px 20px;
  border-radius: 12px;
  text-transform: capitalize;
}
.buttons {
  display: flex;
  gap: 10px;
}
.primary-button {
  background-color: var(--primary-color);
  border: none;
}
.primary-button:hover {
  background-color: #0066ff00;
  border: 1px solid var(--primary-color);
}

.secondary-button {
  background-color: #0066ff00;
  border: 1px solid var(--primary-color);
}
.secondary-button:hover {
  background-color: var(--secondary-color);
  border: none;
}

/*Novedades*/

.novedades {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 30px;
}

.novedades h2 {
  color: var(--primary-color);
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 3px;
}
.novedades > ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.novedades > ul > li {
  width: 230px;
  height: 230px;
  background-image: url("/assets/AdobeStock_432482157.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.novedades > ul > li > p {
  text-transform: capitalize;
}

/*Novedades*/

.apis {
  width: 80%;
  background-color: var(--primary-color);
  display: flex;
}

.info {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 60px;
  color: white;
  text-align: center;
}
.apis > img {
  width: 40%;
}
.info button {
  border: 1px solid white;
}

/*Newsletter*/

.newsletter {
  background-color: var(--secondary-color);
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px;
  gap: 20px;
}

.info-newsletter {
  color: white;
  padding: 80px;
  text-align: left;
}

.info-newsletter h3 {
  font-size: 24px;
  margin-bottom: 20px;
}
.form-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container input[type="email"],
.form-container input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.form-container input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.form-container input[type="submit"]:hover {
  background-color: #218838;
}
.other {
  display: flex;
  gap: 40px;
  align-items: center;
}

.other > button:hover {
  color: var(--primary-color);
}

/*Footer*/

footer {
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: auto;
  padding: 30px;
}
.logo {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.logo img {
  width: 150px;
  height: 100px;
}

.logo button {
  border: 1px solid white;
}

.first ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
  color: white;
}

.socials {
  display: flex;
}
.socials ul {
  list-style-type: none;
  display: flex;
}

/* Estilos para tablets */
@media (max-width: 768px) {
  header {
    height: auto;
  }

  #first-nav {
    flex-direction: column;
    align-items: center;
    padding: 10px 50px;
  }

  #first-nav > span {
    font-size: 13px;
    margin-bottom: 10px;
  }

  .listas {
    width: 100%;
    justify-content: space-evenly;
  }

  .listas ul {
    flex-direction: row;
    gap: 10px;
  }

  #second-nav {
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 50px;
    gap: 20px;
  }

  #second-nav img {
    width: 90px;
  }

  #second-nav ul {
    flex-direction: row;
    gap: 15px;
    text-align: center;
  }

  section.hero {
    height: auto;
    padding: 30px;
    background-position: center;
  }

  h1 {
    font-size: 40px;
  }
}

/* Estilos ajustados para móviles */
@media (max-width: 480px) {
  body {
    padding: 0;
  }

  header {
    height: auto;
    padding: 10px;
  }
  #first-nav {
    display: flex;
  }
  #first-nav > span {
    font-size: 12px;
  }

  .listas {
    width: 100%;
    justify-content: space-between;
  }

  .listas ul {
    flex-direction: row;
    gap: 5px;
    width: 100%;
  }

  .listas img {
    height: 10px;
    width: 10px;
  }

  #second-nav {
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    gap: 10px;
  }

  #second-nav img {
    width: 80px;
    height: auto;
  }

  #second-nav ul {
    flex-direction: column;
    gap: 10px;
    width: 100%;
    text-align: center;
  }

  section.hero {
    padding: 20px;
    background-position: center;
  }

  h1 {
    font-size: 30px;
    line-height: 34px;
  }

  section.hero p {
    font-size: 20px;
    line-height: 28px;
  }

  button {
    font-size: 12px;
    padding: 10px 15px;
  }

  /* Novedades */
  .novedades {
    width: 100%;
  }

  .novedades > ul {
    flex-direction: column;
    flex-grow: 1;
  }
  /* APIs */
  .apis {
    flex-direction: column;
    width: 100%;
  }

  .info {
    padding: 30px;
    width: 100%;
  }

  .apis > img {
    width: 100%;
  }

  /* Newsletter */
  .newsletter {
    flex-direction: column;
    padding: 20px;
  }

  .info-newsletter {
    padding: 40px;
  }

  .form-container {
    padding: 10px;
  }

  .other {
    flex-direction: column;
    gap: 20px;
  }

  footer {
    flex-direction: column;
    padding: 20px;
  }

  .logo img {
    width: 100px;
    height: 80px;
  }

  .first ul {
    text-align: center;
  }

  .socials ul {
    justify-content: center;
    gap: 20px;
  }
}
